#header{
				background:#8d3f97 ;
				color:#ffffff ;
				padding: 25px;
				text-align: centre;
}

#login-form
{
				padding: 50px;
			
}

#registration-form{
				top:50px;
				right:50px;
				left:50px;
				bottom: 50px;
				padding: 60px;
}

